@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes colorChange {
    0% { color: lightgreen; }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: cyan; }
    100% { color: lightgreen; }
}

.loading-message {
    font-family: 'sheepingdogs';
    position: fixed;
    text-align: center;
    background: #2e2e2eee;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-message div {
    display: inline-block;
    margin: 10px;
}

.loading-message div > span.letter {
    margin: 8px;
    display: inline-block;
    font-size: 40px;
    animation: bounce 1s infinite alternate ease-in-out, colorChange 2s infinite linear;
}

/* Har letter ka animation delay alag hoga taake ek saath bounce na kare */
.loading-message div > span.letter:nth-child(1) {
    animation-delay: 0s;
}
.loading-message div > span.letter:nth-child(2) {
    animation-delay: 0.1s;
}
.loading-message div > span.letter:nth-child(3) {
    animation-delay: 0.2s;
}
.loading-message div > span.letter:nth-child(4) {
    animation-delay: 0.3s;
}
.loading-message div > span.letter:nth-child(5) {
    animation-delay: 0.4s;
}
.loading-message div > span.letter:nth-child(6) {
    animation-delay: 0.5s;
}

/* Responsive Font Size */
@media (min-width: 600px) {
    .loading-message div > span.letter {
        font-size: 80px;
    }
}
@media (max-width: 600px) {
    .loading-message div > span.letter {
        font-size: 40px;
    }
}
