/* body {
    font-family: 'Bebas Neue', sans-serif;
  } */
  

  /* h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;  
  } */
  
  /* p {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;  
  } */
  